---
import App from '@/App.tsx';
import { Image } from 'astro:assets';
import masyaAlpha from '@/images/masya-alpha.png';
import GithubIcon from '@/icons/Github.astro';
import TwitterIcon from '@/icons/Twitter.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Masya</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js"
    ></script>
    <script
      defer
      data-domain="masya.dev"
      src="https://plausible.io/js/script.js"></script>
    <style is:global>
      #input-form [data-lastpass-icon-root],
      #openai-key-form [data-lastpass-icon-root] {
        display: none !important;
      }
    </style>
  </head>
  <body
    class="min-w-[1024px] bg-gray-800 font-sans leading-normal tracking-normal text-gray-300"
  >
    <div class="h-screen">
      <div class="mx-4">
        <div class="flex h-12 items-center justify-between">
          <Image src={masyaAlpha} alt="Masya.dev" height={40} />
          <div class="flex">
            <a href="https://github.com/aantipov/masya">
              <GithubIcon class="h-8 w-8" />
            </a>
            <a class="ml-2" href="https://twitter.com/_aantipov">
              <TwitterIcon class="h-8 w-8" />
            </a>
          </div>
        </div>
      </div>

      <App client:only />
    </div>

    <footer class="bg-gray-900 py-4 text-center text-white">
      <p>
        Made with <span class="text-red-500">❤️</span> by <a
          class="text-blue-400 hover:text-blue-300"
          href="https://alexei.me/">Alexey Antipov</a
        >
      </p>
    </footer>
  </body>
</html>
