---
import App from '../App.tsx';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Masya</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js"
    ></script>
  </head>
  <body
    class="bg-gray-800 font-sans leading-normal tracking-normal text-gray-300"
  >
    <div class="flex h-screen" id="container">
      <!-- Left Panel: History of User Prompts -->
      <section id="leftPanel" class="flex w-1/2 flex-col bg-gray-700">
        <App client:load />
      </section>

      <div
        id="divider"
        class="w-3 cursor-col-resize bg-gray-700 hover:bg-slate-400"
      >
        <div class="mx-auto h-full w-0.5 border border-gray-500"></div>
      </div>

      <!-- Right Panel: Result of Last UI Generation -->
      <section id="rightPanel" class="w-1/2 bg-gray-700 p-8">
        <div id="uiResult" class="rounded bg-white p-4 text-black">
          {
            /* The UI corresponding to the selected prompt will be displayed here  */
          }
        </div>
      </section>

      <script>
        // Make the left and right panels resizable.
        const divider = document.getElementById('divider') as HTMLDivElement;
        const leftPanel = document.getElementById(
          'leftPanel',
        ) as HTMLDivElement;
        const rightPanel = document.getElementById(
          'rightPanel',
        ) as HTMLDivElement;

        let mousedown = false;

        divider.addEventListener('mousedown', function (e) {
          mousedown = true;
        });

        window.addEventListener('mousemove', function (e) {
          // We don't want to do anything if we aren't dragging.
          if (!mousedown) {
            return;
          }

          e.preventDefault();

          const container = divider.parentNode as HTMLDivElement;
          const containerWidth = container.clientWidth;
          const leftPanelWidth = (e.clientX / containerWidth) * 100;
          const rightPanelWidth = 100 - leftPanelWidth;

          leftPanel.style.width = `${leftPanelWidth}%`;
          rightPanel.style.width = `${rightPanelWidth}%`;
        });

        window.addEventListener('mouseup', function (e) {
          mousedown = false;
        });
      </script>
    </div>
  </body>
</html>
